BasedOnStyle: Google
Language: Cpp
UseTab: Never
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 2
IndentWidth: 2
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
Standard: c++20
BreakBeforeBraces: Attach
NamespaceIndentation: All
ColumnLimit: 100
IndentPPDirectives: BeforeHash
IndentCaseLabels: true
IndentCaseBlocks: false
IndentAccessModifiers: false
IndentWrappedFunctionNames: true
AlignTrailingComments: false
SortIncludes: false
