[submodule "thirdparty/hptt"]
	path = thirdparty/hptt
	url = https://github.com/kaihsin/hptt.git
[submodule "thirdparty/cutt"]
	path = thirdparty/cutt
	url = https://github.com/kaihsin/cutt.git
[submodule "boost-cmake"]
	path = thirdparty/boost-cmake
	url = https://github.com/Orphis/boost-cmake.git
