[submodule "thirdparty/hptt"]
	path = thirdparty/hptt
	url = https://github.com/kaihsin/hptt.git
[submodule "thirdparty/cutt"]
	path = thirdparty/cutt
	url = https://github.com/kaihsin/cutt.git
[submodule "boost-cmake"]
	path = thirdparty/boost-cmake
	url = https://github.com/Orphis/boost-cmake.git

[submodule "thirdparty/magma"]
	path = thirdparty/magma
	url = https://bitbucket.org/icl/magma/branch/v2.7.0/magma.git
[submodule "thirdparty/doxygen-awesome-css"]
	path = thirdparty/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
